/docs
node_modules
.yarn
.env
/data
.idea
/models
/logs
.service-pids
.cleanup-backup
.cleanup-backup-renderer
#/mcp-services
/node-mac-permissions
/libnut-core
/nut.js
/src/main/native-hooks/bin
/dist-renderer